div(class="row img-row")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive1_1', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive1_2', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive1_3', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive1_4', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive1_5', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive1_6', class="item-a")
