div(class="row img-row")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive5_1', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive5_2', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive5_3', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive5_4', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive5_5', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive5_6', class="item-a")
