div(class="row img-row")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive6_1', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive6_2', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive6_3', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive6_4', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive6_5', class="item-a")
  div(class="auto-ratio-container col-xs-2")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='directive6_6', class="item-a")
