div(class="row main-row")      
  div(class="col-xs-4", style="")
    div(class="row")
      div(class="col-xs-12", style="")
        div(class="row")
          div(class="auto-ratio-container col-xs-6 ")
            div(class="auto-ratio-dummy")
            div(class="auto-ratio-element")
              image-rotator(name='directive3_1', class="col-xs-12 bookend-box item-a")
          div(class="auto-ratio-container col-xs-6 ")
            div(class="auto-ratio-dummy")
            div(class="auto-ratio-element")
              image-rotator(name='directive3_2', class="col-xs-12 bookend-box item-a")
        div(class="row")
          div(class="auto-ratio-container col-xs-6 ")
            div(class="auto-ratio-dummy")
            div(class="auto-ratio-element")
              image-rotator(name='directive4_1', class="col-xs-12 bookend-box item-a")
          div(class="auto-ratio-container col-xs-6 ")
            div(class="auto-ratio-dummy")
            div(class="auto-ratio-element")
              image-rotator(name='directive4_2', class="col-xs-12 bookend-box item-a")

  div(class="auto-ratio-container col-xs-4 item-b", style="")
    div(class="auto-ratio-dummy")
    div(class="auto-ratio-element")
      image-rotator(name='largeDirective', class="col-xs-12 item-a", style="")

  div(class="col-xs-4", style="")      
    div(class="row")
      div(class="col-xs-12", style="")
        div(class="row")
          div(class="auto-ratio-container col-xs-6 ")
            div(class="auto-ratio-dummy")
            div(class="auto-ratio-element")
              image-rotator(name='directive3_5', class="col-xs-12 bookend-box item-a")
          div(class="auto-ratio-container col-xs-6 ")
            div(class="auto-ratio-dummy")
            div(class="auto-ratio-element")
              image-rotator(name='directive3_6', class="col-xs-12 bookend-box item-a")
        div(class="row")
          div(class="auto-ratio-container col-xs-6 ")
            div(class="auto-ratio-dummy")
            div(class="auto-ratio-element")
              image-rotator(name='directive4_5', class="col-xs-12 bookend-box item-a")
          div(class="auto-ratio-container col-xs-6 ")
            div(class="auto-ratio-dummy")
            div(class="auto-ratio-element")
              image-rotator(name='directive4_6', class="col-xs-12 bookend-box item-a")
