body {
  background-color: #EEEEEE;
}

.fancyDiv {
  padding: 20px;
  margin: 5px;
  border: 1px solid black;
  background-color: #EEEEFF;
  display: inline-block;

  h1 {
    color: #3333AA;
  }
}

.image-shower {
  position: absolute;
}

.regular-size {
  width: 200px;
  height: 200px;
}

.large-size {
  width: 400px;
  height: 400px;
}

.central-panel {
  position: absolute;
  border: 2px solid black;
  background-color: 0xAAAAAA;
}

.outer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.inner {
  display: inline-block;
  text-align: left;
}

.fill-xy {
  width: 100%;
  height: 100%;
}

.no-margin-padding {
  margin: 0px;
  padding: 0px;
}

.img-row {
  // div {
  //   margin: 0px;
  //   padding: 0px;
  // }
  background-color: blue;
}
