body {
  background-color: #EEEEEE; }

.fancyDiv {
  padding: 20px;
  margin: 5px;
  border: 1px solid black;
  background-color: #EEEEFF;
  display: inline-block; }
  .fancyDiv h1 {
    color: #3333AA; }

.image-shower {
  position: absolute; }

.regular-size {
  width: 200px;
  height: 200px; }

.large-size {
  width: 400px;
  height: 400px; }

.central-panel {
  position: absolute;
  border: 2px solid black;
  background-color: 11184810xAAAAAA; }
