.f1_container {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  z-index: 1; }

.f1_container_flip {
  transform: rotateY(180deg); }

.f1_container {
  perspective: 1000; }

.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s linear; }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  /*padding: 10px;*/
  color: white;
  text-align: center;
  background-color: black; }

.auto-ratio-container {
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px; }

.auto-ratio-dummy {
  padding-top: 75%;
  /* 4:3 aspect ratio */ }

.auto-ratio-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  /* show me! */ }
